PORT=5000
NODE_ENV=development

# Supabase Project: FoodApp
SUPABASE_URL=https://jlotqrybdcnkazaimsyy.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impsb3RxcnliZGNua2F6YWltc3l5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMjM2MjksImV4cCI6MjA4ODY5OTYyOX0.qP2earuHMKgDjpaVPXRohI4r_yw-mjGw7Ldu1mmyUzU
SUPABASE_SERVICE_KEY=sb_publishable_lp1aFyMQGv4vz1XQBMxVsA__KpKuJb5

# CORS
FRONTEND_URL=http://localhost:3000
